body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h1, h2 {
    color: #333;
}

p {
    line-height: 1.6;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e8eaf6;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #5c6bc0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3f51b5;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 10px 15px;
    border-radius: 5px;
}

a:hover {
    background-color: #007bff;
    color: white;
}
